html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    overflow-y: scroll;
    padding: 10px;
}

@canvas-width: 512px;

.content {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section {
    flex-basis: 33%;
    padding-top: 50px;
}

.canvas-section {
    flex-basis: @canvas-width;
    padding-top: 50px;
}

.test-canvas {
    box-shadow: 0 0 0 1px #00f;
}

.controls {
    padding: 10px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    &__row {
        display: flex;
        margin-bottom: 15px;
    }

    &__group {
        align-items: stretch;
        display: flex;
        flex-grow: 1;
        flex-basis: 50%;
        padding: 2.5px 15px 2.5px 2.5px;
    }

    &__textarea {
        flex-grow: 1;
        min-height: 115px;
    }

    &__label {
        margin-right: 5px;
    }

    &__input {
        flex-grow: 1;
    }

    &__button {
        margin-right: 10px;

        &:last-child {
            margin-right: initial;
        }
    }
}

.obj-details {
    line-height: 1.5;
}